bin_fpath :  '/opt/online/' #Path to binary files
raw_fpath  : '/home/lsrp/raw_events' #Path to store events dumped to .npz files 
hist_fpath : '/storage/hist/' #Path to store mapped event histograms
regex_line : '2021*' #Specify regex line to choose files for preprocessing

preprocess:
    save_raw_file : False 
    amp_cut : 500 #Cut on the signal value to perform background rejection
    draw : False

zone_id: 
#Specify position of the hybrid board and its id starting from 0. If the region isn't connected put id=-1  
#We encode detector zones using the following code: 
#(type of zone: s[side]/c[center])(vertical position: t[top]/b[bottom])(type of subzone l[left]/c[center]/[r]right)
#Example: ctr - central zone, top right region,  sbl - side zone, bottom left region
    stl : -1
    str : -1
    
    ctl : 3
    ctc : 1
    ctr : 0
    
    cbl : 7 
    cbc : 6
    cbr : 5
    
    sbl : -1
    sbr : -1
mask:
    - [-10,-30]
    #- [-9,-10]
    #- [-5,-10]
    #- [-3,-8]
    #- [-7,-8]
    #- [-9,-6]
    #- [-5,-6]
    #- [-1,-6]
    #- [-3,-4]
    #- [-7,-4]
    #- [-1,-2]
    #
    #- [-2, 0]
    #- [-4, 2]
    #- [-8, 2]
    #- [-2, 4]
    #- [-6, 4]
    #- [-10, 4]
    #- [-4, 6]
    #- [-8, 6]
    #- [-6, 8]
    #- [-10, 8]
    #
    #- [8, 8]
    #- [5, 8]
    #- [2, 6]
    #- [6, 6]
    #- [8, 4]
    #- [4, 4]
    #- [0, 4]
    #- [2, 2]
    #- [6, 2]
    #- [0, 0]
    #
    #- [1, -2]
    #- [3, -4]
    #- [7, -4]
    #- [1, -6]
    #- [5, -6]
    #- [9, -6]
    #- [3, -8]
    #- [7, -8]
    #- [5, -10]
    #- [9, -10]
    


    
    
